.homeScreen{
    height: 100vh; width: 100vw;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.brandLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.brandLogo h1{
    color: var(--color-primary);
    font-weight: 400;
}

.pageNotFound{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.pageNotFound h1{
    color: var(--color-white);
}

.pageNotFound a{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    text-decoration: none;
}